/* Basic Resets */
body, h1, h2, h3, p { margin: 0; padding: 0; }
ul { list-style: none; padding: 0; }
a { text-decoration: none; color: inherit; }

/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    background-color: #f8f8f8;
}

.cover-image {
    width: 100%;
    height: 90%;
}

.navbar ul {
    display: flex;
    justify-content: center;
    background: #333;
    padding: 10px 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    font-size: 16px;
}

.content-block {
    margin: 20px;
    padding: 20px;
    background-color: #eee;
    border: 1px solid #ccc;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
    }

    .navbar li {
        margin: 10px 0;
    }
}
